// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

@stdfont: 1.6rem;

html, body {
	height: 100%;
	font-size: 62.5%;
	width: 1000px;
	border: 2px solid green;
	margin: auto;
}

header {
	width:auto;
	display:flex;
	flex-direction: row;
	font-size: @stdfont;
	justify-content: space-between;
	
	h1 {
		font-size: 4.8rem;
		text-align: center;
		padding: 10px;
		margin: auto;
	}

	nav {
		border: 2px solid blue;
		flex-wrap: nowrap;
		font-size: 2.4rem;
		justify-content: space-between;
		align-self: center;
		padding: 10px;

		a {
			text-decoration:none;
			color:black;
			margin: 20px;
	
		}
	}
}

.middle-content {
font-size:2.0rem;
border: 2px solid red;
display:flex;
margin:auto;
flex-wrap: wrap;
justify-content: space-between;
justify-content: space-around;
justify-content: center;

	h2 {
		font-size: 2.4rem;
		text-align: center;
		
	}
	.content1 {
		
		flex-direction: row;
		width: 450px;
		height: 300px;
		border: 2px solid orange;
		margin: 10px;
		padding:5px;
		line-height: 1.6em;
		margin: 20px;

	}
	.vitaliypic {
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
		
	
}